APP_NAME="API Livres - Examen final mobile"
DEBUG=true

# Avec Docker Compose fourni plus bas :
DATABASE_URL="mysql+pymysql://books_user:books_password@127.0.0.1:3306/books_api?charset=utf8mb4"

# À changer avant un vrai déploiement.
# Pour générer une clé : openssl rand -hex 32
SECRET_KEY="change-me-super-secret-key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Pour les tests en classe, * est pratique.
# En production, limiter aux domaines autorisés.
CORS_ORIGINS="*"
